*{
    box-sizing: border-box;
margin: 0%;
padding: 0;

}
.page{
    height: 100vh;
display: grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: auto auto  1fr auto ;
grid-template-areas: "logo logo logo logo logo logo logo logo logo logo" " sidebar  sidebar sidebar nav nav nav nav nav nav nav" " article article article article article article article  article article article  "
"footer footer footer footer footer footer footer footer footer footer";
background-color: antiquewhite;
}
header{
    grid-area: logo;
background-color: blueviolet;
color: antiquewhite;
}


nav{
       grid-area: nav;
background-color: rgb(226, 134, 43);
color: antiquewhite;
}
 article{
      grid-area: article;
background-color: rgb(226, 43, 61);
color: antiquewhite;
 }
  footer{
      grid-area: footer;
background-color: rgb(43, 144, 226);
color: antiquewhite;
  }
  .sidebar{
  grid-area: sidebar;
background-color: rgb(43, 226, 86);
color: antiquewhite;
  
  }